<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section},~{::title},~{::script})">
<head>
	<meta charset="UTF-8" />
	<title>Dashbord page</title>
</head>
<body>
<section>
	
	<div class="mb-3 flex justify-center flex-col space-x-3">
		
		<a
        data-th-href="@{'/createaccount'}"
        type="button"
        class="px-3 py-2 mb-4 text-center rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800"
      >
	  transection
      </a>
	  <a
	  data-th-href="@{'/login'}"
	  type="button"
		  class="px-3 py-2 text-center rounded bg-orange-800 hover:bg-orange text-white dark:bg-orange-800 dark:hover:bg-orange-800"
		>
		  transection history
	</a>
	  </div>
</section>
	
<script>
		console.log('this is home page');
</script>
	</body>
</html>
	